div.Navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(128, 211, 80, 0.623);
    color: #000;
    font-size: 100px;
    border: 1px solid rgb(204, 18, 18);
}

div.Navbar:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(211, 80, 80, 0.623);
    color: rgb(235, 228, 228);
    font-size: 100px;
    border: 1px solid rgb(61, 204, 18);
}